<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
<body ng-app="LunchChecker">
   <div class="container" ng-controller="LunchCheckerController">
      <h1>Lunch Checker</h1>

      <div class="form-group">
          <input id="lunch-menu" type="text"
          placeholder="list comma separated dishes you usually have for lunch"
          class="form-control"
          ng-model="menu">
      </div>
      <div class="form-group">
          <button class="btn btn-default" ng-click="checkDishesCount();">Check If Too Much</button>
      </div>
      <div class="form-group">
        {{ message }}
      </div>
    </div>     
   </div>

</body>
</html>