body {
	background-image: url("assets/topography.png");
	background-repeat: repeat;
	font-family: 'Courier Prime', monospace; font-size:22px;
	padding-left: 100px;
	line-height: 150%;
}

h1 {
	font-weight:700;
	font-size:60px;
}

h2 {
	font-weight:500;
	color: #ff0099;
}

h3 {
	font-size:40px;
}

h4 {
	font-size:25px;
}

.topnav {
  background-color: #333333;
  overflow: hidden;
  padding-left:10%;
  margin-right: 7%;
  height: 67px;
  min-width: 1050px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-right: 1px solid white;
  text-decoration: none;
  font-size: 17px;
  text-decoration-color: white;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
	margin-left: 35px;
}

#body-section {
	padding-left:10%;
	padding-right:10%;
	padding-top:10%;
}


#logos {
	display: inline;
	float: right;
	position: relative; left: -160px; top:-92px;
	filter:  grayscale(100%);
}